body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.50);

    padding: 10px;
    gap: 5px;
    color: white;
    font-size: large;
}

h2 {
    font-weight: bolder;
    margin-top: 10px;
    color: black;
}

#div2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}

#input-group {
    width: 150px;
}

#reponse {
    position: absolute;
    right: 0;
    top: 0;
    font-size: small;
}
