body {
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#card {
    width: 40%;
    padding: 50px 20px;
    border-radius: 7px;
    background-color: white;
}

#textAlertEmptyInput {
    display: none;
    border-radius: 7px;
    color: red;
    background-color: lightpink;
    text-align: center;
    margin-bottom: 10px;
}

#textAlertAdd {
    display: none;
    border-radius: 7px;
    color: green;
    background-color: rgb(181, 237, 181);
    text-align: center;
    margin-bottom: 10px;
}

#textAlertEmptyList {
    display: none;
    border-radius: 7px;
    color: red;
    background-color: lightpink;
    text-align: center;
    margin-bottom: 10px;
}

#textAlertProductDelete {
    display: none;
    border-radius: 7px;
    color: red;
    background-color: lightpink;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

i:hover {
    cursor: pointer;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: red;
}

#vider {
    text-align: center;
    margin-top: 20px;
    display: none;
}